.row{
  margin-top: 20px;
}

.collapser-span{
  font-size: 20pt;
  text-decoration: underline;    
}

.col-sm-6{
  float: right;
}

.sample-number{
  float: right;
  margin-right: 50px;
}

.collapser-style{
  font-size: 20pt;
  text-decoration: underline;
  text-decoration-color: red;
}
