.row{
  margin-top: 20px;
}

.collapser-span{
  font-size: 20pt;
  text-decoration: underline;
  cursor: pointer;
}

.col-sm-6{
  float: right;
}

.sample-number{
  float: right;
}

.collapser-style{
  font-size: 20pt;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.arrow{
  max-width: 30px;
  max-height: 30px;
}

.collapsable{
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.faq{
  display: block;
  font-size: 12pt;
}

.type{
  display: inline-block
}

.number{
  float: right;
}
