.container-label{
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: auto;
  width: 90%;
}
.item1 {
   grid-area: main-photo;
   max-height: 500px;
   max-width: 700px;

 }
.item2 {
  grid-area: main-caption;
  background-color: black;
  max-height: 500px;
  max-width: 300px;

 }
.item3 {
  grid-area: small01-photo;
  background-color: forestgreen;
  max-height: 400px;
  max-width: 200px;
}
.item4 {
  grid-area: small01-caption;
  background-color: black;
}
.item5 { grid-area: small02-photo;
  background-color: forestgreen;
}
.item6 { grid-area: small02-caption;
  background-color: black;
}
.item7 {
  grid-area: small03-photo;
  background-color: forestgreen;
}
.item8 {
  grid-area: small03-caption;
  background-color: black;
}

.item9 {
  grid-area: small04-photo;
  background-color: forestgreen;
}
.item10 {
  grid-area: small04-caption;
  background-color: black
}

.main-container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: ;
  grid-template-areas:
    'main-photo main-photo main-photo main-photo main-caption main-caption'
    ;
  grid-row-gap: 10px;
  color: white;
  border-radius: 10px;
}

.main-container > div {
  text-align: center;
  font-size: 30px;
}

.small-container {

  margin: auto;
  width: 90%;
  display: grid;
  grid-template-areas:
    'small01-photo small02-photo small03-photo small04-photo'
    'small01-caption small02-caption small03-caption small04-caption'
    'small01-caption small02-caption small03-caption small04-caption'
    ;
  grid-column-gap: 20px;
  color: white;
  border-radius: 10px;
}

.small-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#main-photo{
  width: 100%;
}
.main{
  display: inline-flex;
  border-radius: 5px;
  vertical-align: baseline;
  border: 5px, blue;
}
