.item1 {
   grid-area: main-photo;
   background-color: forestgreen;
 }
.item2 {
  grid-area: main-caption;
  background-color: black;
 }
.item3 {
  grid-area: small01-photo;
  background-color: forestgreen;
}
.item4 {
  grid-area: small01-caption;
  background-color: black;
}
.item5 { grid-area: small02-photo;
  background-color: forestgreen;
}
.item6 { grid-area: small02-caption;
  background-color: black;
}
.item7 {
  grid-area: small03-photo;
  background-color: forestgreen;
}
.item8 {
  grid-area: small03-caption;
  background-color: black;
}

.item9 {
  grid-area: small04-photo;
  background-color: forestgreen;
}
.item10 {
  grid-area: small04-caption;
  background-color: black
}

.main-container {
  padding-top: 100px;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-areas:
    'main-photo main-photo main-photo main-photo main-caption main-caption'
    ;
  grid-row-gap: 10px;
  color: white;
}

.main-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.small-container {
  padding: 10px;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-areas:
    'small01-photo small02-photo small03-photo small04-photo'
    'small01-caption small02-caption small03-caption small04-caption'
    'small01-caption small02-caption small03-caption small04-caption'
    ;
  grid-column-gap: 40px;
  color: white;
}

.small-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#main-image{
  object-fit: cover;
}
