<div class="container-label">Top Stories</div>
<div class="main-container">
    <div class="item1">Main Photo</div>
  <div class="item2">Main Caption</div>
</div>
<div class="small-container">
  <div class="item3">Small Photo</div>
  <div class="item4">Small Caption</div>
  <div class="item5">Small Photo</div>
  <div class="item6">Small Caption</div>
  <div class="item7">Small Photo</div>
  <div class="item8">Small Caption</div>
  <div class="item9">Small Photo</div>
  <div class="item10">Small Caption</div>
</div>
