.item1 { grid-area: main-photo; }
.item2 { grid-area: main-caption; }
.item3 { grid-area: small01-photo; }
.item4 { grid-area: small01-caption; }
.item5 { grid-area: small02-photo; }
.item6 { grid-area: small02-caption; }
.item7 { grid-area: small03-photo; }
.item8 { grid-area: small03-caption; }
.item9 { grid-area: small04-photo; }
.item10 { grid-area: small04-caption; }

.main-container {
  padding-top: 100px;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-areas:
    'main-photo main-photo main-photo main-photo main-caption main-caption'
    'main-photo main-photo main-photo main-photo main-caption main-caption'
    'main-photo main-photo main-photo main-photo main-caption main-caption'
    ;
  grid-row-gap: 10px;
  background-color: #2196F3;

}

.main-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.small-container {
  padding: 10px;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-areas:
    'small01-photo small02-photo small03-photo small04-photo'
    'small01-caption small02-caption small03-caption small04-caption'
    'small01-caption small02-caption small03-caption small04-caption'
    ;
  grid-column-gap: 10px;
  background-color: #2196F3;

}

.small-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
