<!-- <div class="container main">
  <div class="well main-photo">
    <img id="main-photo" src='../../assets/images/imageMain.png'>
  </div>
  <div class="well main-caption">
    <h3>Main Caption</h3>
  </div>
</div>
<div class="container small">
  <div class="well">
    <a href="#">
        <div class="item3">Small Photo</div>
        <div class="item4">Small Caption</div>
    </a>
  </div>
  <div class="well">
    <a href="#">
      <div class="item5">Small Photo</div>
      <div class="item6">Small Caption</div>
    </a>
  </div>
  <div class="well">
    <a href="#">
      <div class="item7">Small Photo</div>
      <div class="item8">Small Caption</div>
    </a>
  </div>
  <div class="well">
    <a href="#">
      <div class="item9">Small Photo</div>
      <div class="item10">Small Caption</div>
    </a>
  </div>





</div> -->

<div class="container-label">Top Stories</div>
<a href=#>
  <div class="main-container">
      <div class="item1">
        <img id="main-photo" src='../../assets/images/imageMain.png'>
      </div>
    <div class="item2">Main Caption</div>
  </div>
</a>
<br>
<div class="small-container">
  <a href="#">
      <div class="item3">Small Photo</div>
      <div class="item4">Small Caption</div>
  </a>
  <a href="#">
    <div class="item5">Small Photo</div>
    <div class="item6">Small Caption</div>
  </a>
  <a href="#">
    <div class="item7">Small Photo</div>
    <div class="item8">Small Caption</div>
  </a>
  <a href="#">
    <div class="item9">Small Photo</div>
    <div class="item10">Small Caption</div>
  </a>
</div>
