<div class="container-label">Popular Pages</div>
<div class="icon-container">
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
  <div class="icon-item">
    <img id="icon1" src='../../assets/images/popIcon.png'>
  </div>
</div>
