.small-nav {
  /* width: 100%; */
  position: absolute;
  z-index: 1;
}

ul {
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 10pt;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d8d8d8;
}

.dropdown-content {
  overflow: hidden;
    display: none;
    position: relative;
    background-color: #d8d8d8;
    max-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  /* max-width: 10%; */
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .bg-white {
    background-color: white;
}

#icon1{
  height:40px;
  width: 220px;

} */
