 div.row {
  width: 100%;
  min-height: 200px;
  position:relative;
}

ul#horizontal-list {
	width: 100%;
	list-style: none;
	padding-top: 20px;
  float: right

}

ul#horizontal-list li {
	display: inline;
}

div.row div.label-container{
  display: table;
	margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.left{
  font-size: 18pt;
  float:left;
}

.right{
  font-size: 14pt;
  float: right;
}

#tracking{
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
}

input{
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 30px;
  width: 100%;
  align-items: center;
}

button{
  margin-left: 40px;
  display: inline-block;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  background-color: #336;
  color: white;
}

.form-group{
  width: 80%;
  display: inline-block;
}

#touch-warning{
  margin-left: 20px;
  font-size: 8pt;
  color: red;
}
/*.label-container {
  width: 80%;
  background-color: coral;
}

.label-container ul{
  display: inline-block: ;
  width: 80%;
  list-style-type: none;
}

.label-container li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 10pt;
  padding: 14px 16px;
  text-decoration: none;
} */
