 div.row {
  width: 100%;
  border: 5px red;
  min-height: 200px;
  position:relative;
}

ul#horizontal-list {
	width: 100%;
	list-style: none;
	padding-top: 20px;
  float: right

}

ul#horizontal-list li {
	display: inline;
}

div.row div.label-container{
  display: table;
	margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.left{
  font-size: 18pt;
  float:left;
}

.right{
  font-size: 14pt;
  float: right;
}

#tracking{
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
}
/*.label-container {
  width: 80%;
  background-color: coral;
}

.label-container ul{
  display: inline-block: ;
  width: 80%;
  list-style-type: none;
}

.label-container li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 10pt;
  padding: 14px 16px;
  text-decoration: none;
} */
